{% load mathfilters %}
<html>
<head>
	<title>Financials // Lichtplanners</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
	<script>
	function timeConverter(UNIX_timestamp){
	  var a = new Date(UNIX_timestamp);
	  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
	  var year = a.getFullYear();
	  var month = months[a.getMonth()];
	  var date = a.getDate();
	  var time = date + ' ' + month + ' ' + year + ' ';
	  return time;
	}
	</script>
</head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #2477B8;
  color: white;
}
</style>

<body>
	<div class="fixed-table-container fixed-height" style="height 480px;">


<div class="container">
	<div class=" btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups" style="margin-top: 10px; padding-top: 10px">
		<h2>Financials</h2>
	  <div class="btn-group float-right"  style="margin-bottom: 10px; padding-bottom: 10px" role="group" aria-label="First group">
			 <button type="button" class="btn btn-secondary"><a href="{% url 'exact:index' %}" style="color: #fff"> Home </a></button>
			 <button type="button" class="btn btn-secondary"><a href="{% url 'exact:inv' %}" style="color: #fff">Voorraad</a></button>
			 <button type="button" class="btn btn-secondary"><a href="{% url 'exact:financials' %}" style="color: #fff">Openstaande posten</a></button>
		 </div>
	</div>
	  <table class="table table-bordered table-hover" data-toggle="table" data-pagination="true" data-search="true" >
	    <thead>
			<tr>
				<th data-sortable="true">Invoice Date</th>
				<th data-sortable="true">Invoice Number</th>
				<th data-sortable="true">Invoice lines</th>
			</tr>

			<tbody id="myTable">

				{% for item in data1 %}
					<tr>


							{% for item2 in data2 %}
								{% if item.InvoiceNumber == item2.InvoiceNumber %}


								<td>	<script type="text/javascript">
								document.write(timeConverter({{ item.InvoiceDate|slice:"6:19" }}))
								</script></td>
								<td>{{ item.InvoiceNumber }}</td>
								<td>{{ item2.InvoiceNumber }}</td>
								<td>{{ item2.SalesInvoiceLines }}</td>

								{% endif %}
							{% endfor %}

				{% endfor %}
			</tbody>
		</thead>

	</table>

</body>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</html>
