{% load mathfilters %}
<html>
<head>
	<title>Voorraad // Lichtplanners </title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">

</head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
  background-color: #2477B8;
  color: white;
}
</style>

<body>
	<div class="fixed-table-container fixed-height" style="height 480px;">


<div class="container">
	<div class=" btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups" style="margin-top: 10px; padding-top: 10px">
		<h2>Voorraad</h2>
	  <div class="btn-group float-right" role="group" aria-label="First group">
	    <button type="button" class="btn btn-secondary"><a href="{% url 'exact:index' %}" style="color: #fff"> Home </a></button>
	    <button type="button" class="btn btn-secondary"><a href="{% url 'exact:inv' %}" style="color: #fff">Voorraad</a></button>
		  <button type="button" class="btn btn-secondary"><a href="{% url 'exact:financials' %}" style="color: #fff">Financials</a></button>

	  </div>
	</div>
	  <table class="table table-bordered table-hover" data-toggle="table" data-pagination="true" data-search="true" >
	    <thead>
			<tr>
				<th data-sortable="true"  style="padding: 0">ItemCode</th>
					<th data-sortable="true">ItemDescription</th>
					<th data-sortable="true">Voorraad Totaal 1</th>
					<th data-sortable="true">Voorraad Totaal 2</th>
					<th data-sortable="true">ItemCode</th>
					<th data-sortable="true">ItemDescription</th>
					<th data-sortable="true">Vooraad Filter mag 1</th>
					<th data-sortable="true">Vooraad Filter mag 2</th>
					<th data-sortable="true">&euro;</th>
					<th data-sortable="true">&euro;</th>
			</tr>

			<tbody id="myTable">
				{% for item in data1 %}
					<tr>
										{% for item2 in data2 %}
											{% if item.ItemCode == item2.Code %}
											<td>{{ item.ItemCode }}</td>
											<td>{{ item.ItemDescription }}</td>
			              	{% if item.ItemCode == item2.Code and item.WarehouseCode == "1" %}
																							<td>{{ item.CurrentStock }}</td>
																							<td>{{ item2.Stock }}</td>
											{% endif %}
											{% if item.ItemCode == item2.Code and item.WarehouseCode == "3" %}
																							<td>{{ item.CurrentStock }}</td>
																							<td>{{ item2.Stock }}</td>
											{% endif %}
												{% for item3 in data3 %}
										 			{% if item.ItemCode == item3.ItemCode %}

															<td>{{ item3.Price }}</td>

										 			{% endif %}
					          		{% endfor %}

                    	{% endif %}
										{% endfor %}

					</tr>
				{% endfor %}
			</tbody>
		</thead>
	</table>
	</div>
	</div>
    {% for i in data %}
        {{ i }}<br><br>
    {% endfor %}
</body>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script>
var seen = {};
$('table tr').each(function() {
    var txt = $(this).children("td:eq(0)").text();
    console.log(txt)
    if (seen[txt])
        $(this).remove();
    else
        seen[txt] = true;
});
</script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
</html>
