<html>
<head>
	<title>Document</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
</style>

<body>
	<div class="container">
	  <h2>Filterable Table</h2>
	  <p>Type something in the input field to search the table for first names, last names or emails:</p>
	  <input class="form-control" id="myInput" type="text" placeholder="Search..">
	  <br>
	  <table class="table table-bordered table-striped">
	    <thead>
			<tr>
				<th>CurrentStock</th>
					<th>ItemCode</th>
				<th>ItemDescription</th>
				<th>WarehouseDescription</th>
			</tr>
			<tbody id="myTable">
				{% for item in data %}
					<tr>
						<td>{{ item.CurrentStock }}</td>
						<td>{{ item.ItemCode }}</td>
						<td>{{ item.ItemDescription }}</td>
						<td>{{ item.WarehouseDescription }}</td>

						<td>{{ item.Stock }}</td>
						<td>{{ item.Code }}</td>
						<td>{{ item.ItemGroupCode }}</td>
						<td>{{ item.ID }}</td>
				{% endfor %}
			</tbody>
		</thead>
	</table>
	</div>

</body>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</html>
